customer_id : 1<br><div style="font-size:0;position:relative;width:246px;height:30px;">
<div style="background-color:black;width:4px;height:30px;position:absolute;left:0px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:2px;height:30px;position:absolute;left:6px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:2px;height:30px;position:absolute;left:12px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:2px;height:30px;position:absolute;left:22px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:6px;height:30px;position:absolute;left:26px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:4px;height:30px;position:absolute;left:34px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:4px;height:30px;position:absolute;left:44px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:6px;height:30px;position:absolute;left:50px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:2px;height:30px;position:absolute;left:62px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:2px;height:30px;position:absolute;left:66px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:6px;height:30px;position:absolute;left:70px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:8px;height:30px;position:absolute;left:78px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:6px;height:30px;position:absolute;left:88px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:4px;height:30px;position:absolute;left:98px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:2px;height:30px;position:absolute;left:104px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:2px;height:30px;position:absolute;left:110px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:6px;height:30px;position:absolute;left:118px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:4px;height:30px;position:absolute;left:126px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:2px;height:30px;position:absolute;left:132px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:8px;height:30px;position:absolute;left:136px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:2px;height:30px;position:absolute;left:146px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:2px;height:30px;position:absolute;left:154px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:8px;height:30px;position:absolute;left:158px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:6px;height:30px;position:absolute;left:168px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:4px;height:30px;position:absolute;left:176px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:6px;height:30px;position:absolute;left:184px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:2px;height:30px;position:absolute;left:192px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:8px;height:30px;position:absolute;left:198px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:6px;height:30px;position:absolute;left:208px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:2px;height:30px;position:absolute;left:216px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:4px;height:30px;position:absolute;left:220px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:6px;height:30px;position:absolute;left:230px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:2px;height:30px;position:absolute;left:238px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:4px;height:30px;position:absolute;left:242px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:0px;height:30px;position:absolute;left:246px;top:0px;">&nbsp;</div>
<div style="background-color:black;width:0px;height:30px;position:absolute;left:246px;top:0px;">&nbsp;</div>
</div>
